@import "html.css";

BODY {
  background: #FFF;
  margin-left: 7%;
  margin-right: 10%; 
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

H1 {
  color: red;
}
H2 {
  color: blue;
}
H3 { 
  color: green; 
  font-style: italic
}

.link {
  text-decoration: underline;
}

B { color: green; } 
B.object { color: red; }

CODE { color: brown; }
CODE.comment { color: red; }
CODE.codeComment { color: red; }
CODE.object { color: green; }
CODE.keyword { color: darkgreen; font-style: italic; }

CODE.envvar { color: brown; }
CODE.dir    { color: blue; }

CODE.file   {color: green ; font-style: italic}
CODE.shellScript  {color: blue ; font-style: italic}

CODE.shellCmd {color: red}

CODE.jclass { color: brown ; }

CODE.class { color: red ; }

CODE.method { color: red ; font-family: courier }

CODE.JavaProperty { color: brown ; font-style: italic}

CODE.makeVar { color: magenta ; font-style: italic }

PRE  { color: darkgreen ; }


FONT.JavaPackage { font-family: sans-serif ; color: brown}
FONT.JavaClass { font-family: sans-serif ; color: red}
FONT.JavaInterface{ font-family: sans-serif ; color: olive}
FONT.JavaMethod { font-family: sans-serif ; color: blue}
FONT.JavaField { font-family: sans-serif ; color: orange}

FONT.OmegaPackage { font-family: courier; size:+1 ; color: brown}
FONT.OmegaClass { font-family: courier; size:+1 ; color: red}
FONT.OmegaInterface{ font-family: courier; size:+1 ; color: olive}
FONT.OmegaMethod { font-family: courier; size:+1 ; color: blue}
FONT.OmegaField { font-family: courier; size:+1 ; color: orange}

FONT.file { font-family: courier ; color: navy}
FONT.dir { font-family: courier ; color: blue}

FONT.OMega { font-style: bold; color: red}
FONT.Omegahat { font-style: bold; color: red}
FONT.Java { font-style: bold; color: red}
FONT.CORBA { font-style: bold; color: red}

FONT.perlSub { font-style: bold; color: blue}


I.note { color: red }

I.question { size:+1 ; color: brown }

<<<<<<< OmegaTech.css
DEFN  {color: blue}

TH {  font-family: Verdana, Arial, Helvetica, sans-serif; }
=======

TH {  font-family: Verdana, Arial, Helvetica, sans-serif; }




>>>>>>> 1.15
