importFrom("graphics", plot) # because we want to define methods on it

## Generics and functions defined in this package
export(pubGenf, # a generic function
       assertError)# and a simple one

## own classes
exportClasses(pubClass, subClass)# both classes [where 'pkgA' only exports main class]

exportMethods(
 ## for own generics:
 pubGenf,
 ## for other generics:
 plot, show
)

## The "Matrix-like"
exportClasses("atomicVector", "array_or_vector")

