language: c

env:
  global:
  - CURL_VERSION=7.43.0
  - ZLIB_VERSION=1.2.8
  - PCRE_VERSION=8.38
  - PREFIX=$HOME/R-bin
  - CRAN_WGET='https://cloud.r-project.org'

os: linux


matrix:
  include:
    - dist: precise
    - dist: trusty
    - dist: xenial

addons:
  apt:
    sources:
      - sourceline: 'ppa:git-core/ppa'
    packages:
    - git-svn
    - bash-completion
    - bison
    - debhelper
    - default-jdk
    - g++
    - gcc
    - gdb
    - gfortran
    - groff-base
    - libblas-dev
    - libbz2-dev
    - libcurl4-openssl-dev
    - libjpeg-dev
    - liblapack-dev
    - liblzma-dev
    - libncurses5-dev
    - libpango1.0-dev
    - libpcre3-dev
    - libpng-dev
    - libreadline-dev
    - libx11-dev
    - libxt-dev
    - tcl-dev
    - tk-dev
    - subversion
    - texinfo
    - texlive-base
    - texlive-extra-utils
    - texlive-fonts-extra
    - texlive-fonts-recommended
    - texlive-generic-recommended
    - texlive-latex-base
    - texlive-latex-extra
    - texlive-latex-recommended
    - x11proto-core-dev
    - xauth
    - xdg-utils
    - xfonts-base
    - xvfb
    - zlib1g-dev

cache:
  - ccache

before_install:
  - tools/wget-recommended
  - mkdir -p extra
  - pushd extra
  - wget --no-check-certificate "https://github.com/madler/zlib/archive/v$ZLIB_VERSION.tar.gz"
  - tar xzf "v$ZLIB_VERSION.tar.gz"
  - pushd "zlib-$ZLIB_VERSION"
  - ./configure --prefix=$PREFIX && make && make install
  - popd
  - wget --no-check-certificate "http://curl.haxx.se/download/curl-$CURL_VERSION.tar.gz"
  - tar zxf "curl-$CURL_VERSION.tar.gz"
  - pushd "curl-$CURL_VERSION"
  - ./configure --prefix=$PREFIX && make && make install
  - popd
  - wget "https://sourceforge.net/projects/pcre/files/pcre/8.38/pcre-$PCRE_VERSION.tar.bz2"
  - tar xjf "pcre-$PCRE_VERSION.tar.bz2"
  - pushd "pcre-$PCRE_VERSION"
  - ./configure --prefix=$PREFIX --enable-utf --enable-unicode-properties && make && make install
  - popd
  - popd

script:
  - export TAG_PATH=$(git name-rev --name-only $(git rev-parse HEAD))
  - export R_VERSION=$(echo $TAG_PATH | perl -pe 's{tags/R-}{};s{-}{.}g')
  - export OS_VERSION=$(lsb_release -cs)
  - git svn init https://svn.r-project.org/R/$TAG_PATH
  - git update-ref refs/remotes/git-svn refs/remotes/origin/$TAG_PATH
  - git svn rebase
  - |
    echo -n 'Revision: ' > SVN-REVISION
    git log --format=%B -n 10 | grep "^git-svn-id" | head -n 1 | sed -E 's/^git-svn-id: https:\/\/svn.r-project.org\/R\/[^@]*@([0-9]+).*$/\1/' >> SVN-REVISION
    echo -n 'Last Changed Date: ' >> SVN-REVISION
    git log -1 --pretty=format:"%ad" --date=iso | cut -d ' ' -f1 >> SVN-REVISION
  - ./configure --enable-R-shlib --enable-memory-profiling --prefix $PREFIX CPPFLAGS=-I$PREFIX/include LDFLAGS=-L$PREFIX/lib
  - (cd doc/manual && make front-matter html-non-svn)
  - export LD_LIBRARY_PATH="$PREFIX/lib:$LD_LIBRARY_PATH"
  - make
  - make check || true
  - make install

before_deploy:
  - mkdir -p /tmp/R-bin
  - tar cJf /tmp/R-bin/R-${R_VERSION}-${OS_VERSION}.xz -C $(dirname $PREFIX) $(basename $PREFIX)

deploy:
  skip_cleanup: true
  provider: s3
  bucket: rstudio-travis
  local-dir: /tmp/R-bin
  on:
    repo: jimhester/r-source
    all_branches: true
