#-*- Makefile -*-

## This is only used when building R itself but it does customize
## etc/*/Makeconf using LOCAL_SOFT, BINPREF[64], SYMPAT64, IMPLIB and R_ARCH

## =========== configuration macros for building packages ================
# Absolute path to '/usr/local' software collection.  The versions used
# on CRAN can be found at
# http://www.stats.ox.ac.uk/pub/Rtools/goodies/local.zip
# http://www.stats.ox.ac.uk/pub/Rtools/goodies/Win64/local64.zip
LOCAL_SOFT =

## ============== configuration macros for building R ===================

# an alternative is to use -gstabs here, if the debugger supports only stabs.
G_FLAG=-gdwarf-2

# Comment out if the msvcrt.dll malloc/free is required (not tested recently)
LEA_MALLOC=YES

# Set to YES and specify the path if you want to use the ATLAS BLAS.
USE_ATLAS=NO
ATLAS_PATH=/R/ATLAS/lib/WinNT_P4SSE2

# Support for the ACML and Goto BLASes has been withdrawn: see R-admin.html

# Where does Tcl/Tk live?  Spaces allowed.
TCL_HOME = $(RHOME)/Tcl
TCL_VERSION = 85

# Define to use svnversion to set SVN-REVISION (slow, and requires a clean
# checkout with no modifications).
# USE_SVNVERSION = YES

# We normally link directly against DLLs, 
# but this macro forces the use of import libs
# Needed if using other compilers, including some versions of MinGW-w64
# USE_IMPLIBS = YES

# Some of the toolchains are in fact cross-compilers and have prefixes
# prefix for 32-bit, i686-w64-mingw32- for MinGW-w64's
BINPREF =
# prefix for 64-bit: usually this, but not for native x64 builds.
BINPREF64 = x86_64-w64-mingw32-

# 32- or 64-bit Windows?
WIN = 32

# define to -DW64 if using 32-bit MinGW-w64
DEFS_W64 =

# pattern for symbols on 64-bit builds only
# for older toolchains which use a leading underscore
# SYMPAT64 = 's/^.* [BCDRT] _/ /p'
# for versions of MinGW-w64 from about 2010-05
SYMPAT64 = 's/^.* [BCDRT] / /p'

# set to use ICU (experimental)
# USE_ICU=YES
# path to parent of ICU headers
ICU_PATH=/sources/icu

# optional overrides for making bitmapdll: names of source directories
# JPEGDIR = jpeg-8a
# PNGDIR = libpng-1.2.35
# TIFFDIR = libtiff

# set this to YES to build static HTML help
BUILD_HTML = NO

## ====== configuration macros for building installer ===========

# location where Inno Setup 5.3.x was installed. Spaces allowed.
ISDIR=C:/packages/Inno

# home of 32-bit files for combined installer on 64-bit build
HOME32=

## ====== configuration macros for building MSI installer ===========

# location where WiX 3.x was installed. Spaces allowed.
WIX3DIR=C:/packages/WiX3.0

# set to 1 for a non-elevated per-user installer
WIX_PERSONAL=0

## =============== end of user-customizable parts  ===================
