#include <windows.h>
#include "../../include/Rversion.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION R_FILEVERSION
PRODUCTVERSION 3,0,0,0
FILEFLAGSMASK 0x3L
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "DLL for internet module\0"
            VALUE "FileVersion", R_MAJOR "." R_MINOR " " R_STATUS "   (" R_YEAR "-" R_MONTH "-" R_DAY ")\0"
            VALUE "LegalCopyright", "R Development Core Team 1995-" R_YEAR "\0"
            VALUE "R Version", R_MAJOR "." R_MINOR " " R_STATUS " (" R_YEAR "-" R_MONTH "-" R_DAY ")\0"
            VALUE "Project info", "http://www.r-project.org\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
