
/* Adapted from R.css with the following additional features:

- Assumes the presence of <nav>, <main> and (optionally) <header> elements

- For large screens, the <nav> element is displayed on the left and <main> on the right

*/

.rimage img { /* from knitr - for examples and demos */
    width: 96%;
    margin-left: 2%;
} 	

.katex { font-size: 1.1em; }

code {
    color: inherit;
    background: inherit;
}

body {
    line-height: 1.4;
    background: white;
    color: black;
}

a:link {
    background: white;
    color: blue;
}

a:visited {
    background: white;
    color: rgb(50%, 0%, 50%);
}

h1 {
    background: white;
    color: rgb(55%, 55%, 55%);
    font-family: monospace;
    font-size: 1.4em; /* x-large; */
    text-align: center;
}

h2 {
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-size: 1.2em; /* large; */
    text-align: center;
}

h3 {
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-size: 1.2em; /* large; */
}

h4 {
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-style: italic;
    font-size: 1.2em; /* large; */
}

h5 {
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
}

h6 {
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-style: italic;
}

img.toplogo {
    width: 4em;
    vertical-align: middle;
}

img.arrow {
    width: 30px;
    height: 30px;
    border: 0;
}

span.acronym {
    font-size: small;
}

span.env {
    font-family: monospace;
}

span.file {
    font-family: monospace;
}

span.option{
    font-family: monospace;
}

span.pkg {
    font-weight: bold;
}

span.samp{
    font-family: monospace;
}

div.vignettes a:hover {
    background: rgb(85%, 85%, 85%);
}

tr {
    vertical-align: top;
}

span.rlang {
    font-family: Courier New, Courier;
    color: #666666;
}


/* Navigation TOC:

nav.topic is for dynamic help pages, and should be hidden on narrow screens.

nav.package is for single page manuals for an entire package, as
produced by pkg2HTML(), and should be shown on top on narrow screens.

*/


nav.topic {
    display: none; /* hide TOC on narrow screens */
}

nav {
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
}

nav h1, nav h2 {
    text-align: left;
}

nav a:hover {
    color: rgb(40%, 40%, 40%);
}


.dropdown-menu ul
{ 
    list-style: none;
    padding-left: 0px;
}

.dropdown-menu ul ul
{ 
    padding-left: 20px;
}

.dropdown-menu a
{
    text-decoration: none;
}

/*  
.dropdown-menu ul li
{
    line-height: 1.5em;
}
@media (max-width: 999px) {
    header.right { display: none }
}
*/


@media (min-width: 1020px) {

    header.top { display: none }
    
    nav.topic {
	display: block; /* show TOC on wide screens */
    }

    .container {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
    }

    main {
	width: 700px;
	margin-left: 300px;
	padding-left: 10px;
	float: right;
    }

    nav {
	position: fixed;
	float: left;
	width: 300px;
    }
    nav hr {
	display: none;
    }

    .dropdown-menu {
	max-height: 95vh;
	width: 95%;
	padding: 5px;
	overflow-y: auto;
    }


}

@media (min-width: 1220px) {

    .container {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
    }

    main {
	width: 800px;
	margin-left: 400px;
	padding-left: 10px;
    }

    nav {
	width: 400px;
    }
}

